@import "config";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h2 {
  text-align: center;
  padding: 3rem;
  padding-bottom: 1rem;
  font-size: 1.8rem;
  text-transform: uppercase;
}

h3 {
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.line-break {
  height: 2px;
  width: 50%;
  margin: auto;
  align-self: center;
  background: $main-color;
  margin-bottom: 2rem;
}

#main-page {
  background: url(../img/main-back.jpg) no-repeat top/ cover;
  height: 100vh;
  position: relative;

  #header-home {
    
    .header-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 90vh;
  
      &-image {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
  
        img {
          display: block;
          width: 80%;
          border-radius: 50%;
          border: $main-color 3px solid;
          margin-bottom: 10vh;
        }
      }
  
      &-text {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: left;
        justify-content: center;
  
        h1 {
          color: #fff;
          font-size: 3.5rem;
          margin-left: 2rem;
        }
        .lead {
          color: #fff;
          font-size: 1.5rem;
          margin-left: 4.5rem;
          margin-bottom: 10vh;
        }
      }
    }
  }

  #header-copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    padding-bottom: 1rem;
  }

  .blog-content {
    height: 80vh;
    margin-top: 5vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    #blog-1 {
      height: 40vh;
      display:flex;
      justify-content: center;
      align-content: center;
      background: rgba(0,0,0,0.4);
      
      .blog-explanation {
        width: 50%;
        padding: 2rem;

        p {
          margin-bottom: 1rem;
        }

        a {
          text-transform: uppercase;

          &:hover {
            color: #fff;
          }
        }
      }

      .blog-image {
        width: 50%;
        background: url('../img/florian-olivo-4hbJ-eymZ1o-unsplash.jpg') no-repeat left top /cover;
        margin: 2rem;
      }
    }
  }
}

#main-nav {
  background-size: 100vw auto;
  height: 10vh;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5vh;
    justify-content: space-between;

    img {
      height: 5vh;
      margin-left: 2rem;
    }

    ul {
      display: flex;

      li {
        padding: 0.3rem;
        margin-right: 2rem;

        &.current {
          border-bottom: 2px solid $main-color;
        }

        a {
          height: 100%;
          width: 100%;
          color: #fff;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;
          margin: 5px;
        }
      }
    }

    #social {
      display: flex;
      width: 100%;
      margin-left: 5rem;

      a {
        color: #fff;
        margin-left: 3rem;
        border: 2px solid $main-color;
        padding: 0.5rem;
        border-radius: 50%;
      }
    }
  }
}

#header-home.inner {
  height: 10vh;
  background: url(../img/main-back.jpg) no-repeat top/ cover;
  position: relative;

  #main-nav {
    border-bottom: 3px solid $main-color;
  }
}

#about-myself {
  background: $light-color;
}
.bio {
  margin-top: 4rem;
  margin-right: 10%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 3rem;
  padding-bottom: 3rem;

  img {
    display: block;
    max-width: 100%;

    justify-self: right;
  }

  .bio-box {
    display: block;
    background-color: #ddd;
    padding: 2rem;
    border-left: 2px solid $main-color;
    border-bottom: 3px solid $main-color;

    h3 {
      text-align: center;
      text-transform: uppercase;
      font-weight: bolder;
    }

    p {
      margin-bottom: 1rem;
    }


  }
}

.goals {

  background: $dark-color;
  h4 {
    color: #fff;
    text-transform: uppercase;
  }

  .grid {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem 3rem;
    margin-bottom: 2rem;
    .progress {
      overflow: hidden;
      height: 15px;
      background: $medium-color;
      border-radius: 5px;
  
  
      div {
        height: 100%;
        color: #fff;
        text-align: center;
        background: $main-color;
        
      }
    }
  }
  
}

.credentials {
  background: $light-color;
  padding-bottom: 3rem;
  
  .degrees {
    display: flex;
    text-align: center;

    .degree {
      width: 100%;

    }
  }
}

#contact {
  &-a {
      .text-fields {
          display: grid;
          grid-template-areas:
          'name email'
          'subject phone'
          'message message';
          grid-gap: 1.3rem;
          margin-bottom: 1.2rem;

          // Grid Areas
          .name-input {
              grid-area: name;
          }
          .subject-input {
              grid-area: subject;
          }
          .email-input {
              grid-area: email;
          }
          .phone-input {
              grid-area: phone;
          }
          .message-input {
              grid-area: message;
              height: 300px;
          }

          .text-input {
              padding: 0.8rem 1.5rem;
              font-family: "Montserrat", sans-serif;
              font-size: 1rem;
              border: 1px $dark-color solid;

              &:focus {
                border: 1px $main-color solid;
              }
          }
      }

      button[type='submit'] {
          width: 50%;
          font-size: 1rem;
          text-transform: uppercase;
      }
  }

  &-b {
      .contact-info {
          display: grid;
          grid-template-columns: repeat(3,1fr);
          text-align: center;
      }
  }

  &-c {
      h1{
          text-align: center;
          font-size: 4rem;
      }
  }
}

#main-footer {
  background: $dark-color;
  height: 10vh;
  display: flex;

  p {
    color: #fff;
  }
}

